body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    color: #2e2e2e;
    margin-bottom: 25px;
}


h1{
    text-align: center;
    background-color: #a0a2f3;
    padding: 10px;
    color: blue;
    font-size: 46px;
    margin-bottom: 0;
}
#paragrafo-nome{
    text-align: center;
    background-color: #cecfff;
    padding: 3px;
    margin: 0;
}

h2{
    background-color: #ccc;
    padding: 12px;
    color: blue;
    border-bottom: 3px solid blue;
    margin: 60px 0 12px 0;
    font-size: 36px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: 2px underline blue;
}

ul{
    padding-left: 0;
    list-style: inside;
}

/* Formatação do menu */
.menu{
    text-align: center;
}

.menu li{
    list-style: none;
    display: inline-block;

}

.menu a{
    background-color: #ccc;
    padding: 16px;
    display: block;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    background-color: #555555;
    color: white;
}